<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Togetherしようぜ！</title>
  <link href="/stylesheets/together.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
<body>
<center>
Togetherしようぜ！β<br>
<%= link_to '問題作成', {:controller => 'quizzes', :action => 'new'} %> || 
<%= link_to 'あなたの成績', {:controller => 'user_quizzes', :action => 'list'} %> || 
<%= link_to 'FAQ', {:controller => 'english', :action => 'help'} %> ||
<%= link_to 'ログアウト', {:controller => 'welcome', :action => 'logout'} %>
<hr width="300">
