<%= render :partial => 'english_header' %>
<table>
	<tr>
		<td>Q1. 問題,解答に関する問い合わせは？</td>
	</tr>
	<tr>
		<td>A1. shinodogg@mail.goo.ne.jpまで。</td>
	</tr>
	<tr>
		<td>Q2. リンクを張ってもいいですか？？</td>
	</tr>
	<tr>
		<td>A2. 基本的にリンクフリーです。</td>
	</tr>
	<tr>
		<td>Q3. βって？？</td>
	</tr>
	<tr>
		<td>A3. Togetherしようぜ！は日々開発を進めています。</td>
	</tr>
	<tr>
		<td>Q4. 英語以外の問題作成は？</td>
	</tr>
	<tr>
		<td>A4. お断りしています。見かけた場合はご連絡ください。</td>
	</tr>
<table>	

<%= render :partial => 'english_footer' %>