<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Togetherしようぜ！</title>
  <link href="/stylesheets/together.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
<body>
<center>
Togetherしようぜ！β
<hr width="300">
